set -e
DIR=`pwd`

if ! [ -x "$(command -v bun)" ]; then
  PATH_add $HOME/.bun/bin
  if ! [ -x "$(command -v bun)" ]; then
    curl https://bun.sh/install | bash
  fi
fi

init() {
if [ ! -d $DIR/$1/node_modules ] ; then
  if ! [ -x "$(command -v pnpm)" ]; then
    npm install -g pnpm
  fi
  if ! [ -x "$(command -v ni)" ]; then
    npm install -g @antfu/ni
  fi
  if [ -x "$(command -v asdf)" ]; then
    asdf reshim
  fi
  cd $DIR/$1
  ni
  cd $DIR
fi
}

init .

PATH_add $DIR/.direnv/bin

if [ -f .env ] ; then
dotenv
fi
